.vagrant
live-default/.build
live-default/cache
live-default/chroot
live-default/.lock
live-default/binary/
live-default/chroot.files
live-default/chroot.packages.install
live-default/chroot.packages.live
live-default/chroot.tmp/
live-default/live-image-amd64.files
live-default/live-image-amd64.packages
live-default/live-image-amd64.contents
live-default/live-image-amd64.hybrid.iso
live-default/live-image-amd64.hybrid.iso.zsync
