[Unit]
Description=anansi menu on tty11
[Service]
Type=simple
ExecStart=/usr/share/python/python-anansi-menu/bin/anansi-menu.py
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty11
